* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: rgb(40, 40, 40)
}
.start_quiz,
.rules_box,
.question_box,
.save_results_box,
.high_score_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  border-radius: 5px;
}

.start_quiz button {
  font-size: 20px;
  background: #2e0048;
  color: white;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.start_quiz button:hover {
  background: #a379e1;
}

.rules_box {
  display: none;
  width: 540px;
  background: gray;
}

.question_box {
  display: none;
  width: 540px;
  background: gray;
}

.save_results_box {
  width: 540px;
  background: gray;
}

.high_score_box {
  width:540px;
  background: gray;
  font-size: 50px;
}

#high_score_title {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #2e0048;
}

.rules_box .rules_title,
.save_results_box .results_title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 20px;
  justify-content: center;
}

.question_box .question_text {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 25px;
  justify-content: center;
}

.rules_box .rules,
.question_box .questions{
  padding: 20px;
}

.rules_box .rules .rules_info {
  margin: 5px;
  font-size: 20px;
}

.rules_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid black;
}

.rules_box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  background: #2e0048;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.buttons button:hover{
  background: #a379e1;
}

.questions{
  display: flex;
  flex-direction: column;
}


.questions button{
  background: #2e0048;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.questions button:hover,
#submit_button:hover,
#reset_button:hover {
  background: #a379e1;
}

.answer_status h1{
  text-align: center;
  margin-bottom: 10px;
}

.timer {
  text-align: center;
  font-size: 50px;
  color: white;
}

.footer {
  text-align: right;  
  font-size: 20px;
  margin: 20px;
  color: white;

}

.buttons button:active,
.questions button:active {
  background: black;
}

#submit_button,
#reset_button {
  background:#2e0048;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px;
  font-size: 40px;
}

#initials {
  font-size: 40px;
  margin: 10px;
  border-radius: 5px;
}

#results {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}

ul {
  list-style: none;
}
